@font-face {
    font-family: 'Libre';
    src: url('../public/fonts/LibreFranklin-Regular.ttf');


}

*{
    font-family: 'Libre';
}

.btnView{
    font-family: 'Libre';
    background-color: #71C9CE;
    border-radius: 52px;
  
    width: 60px;
    height: auto;
    margin-left: 40px;
    text-decoration: none;
    color:black;
    text-align: center;
    font-size: 20px;
}

.btnViewHome{
    
    font-family: 'Libre';
    background-color: white;
    border-radius: 52px;
    font-weight: 500;
    width: 150px;
    height: auto;
    text-decoration: none;
    color:#71C9CE;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.btnViewBack{
    
    font-family: 'Libre';
    background-color: white;
    border-radius: 52px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    width: 70px;
    height: auto;
    text-decoration: none;
    color:#71C9CE;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}


.btnManage{
    margin-left: 20px;
    font-family: 'Libre';
    background-color: #71C9CE;
    border-radius: 52px;
    width: 130px;
    font-weight: 500;
    padding: 2px;
    text-decoration: none;
    color:black;
    text-align: center;
}

footer{
    font-size: 20px;
    margin-top: 10px;
}

.background{
    background-image: linear-gradient(to right, #71C9CE , #CBF1F5);
    color: white;
    border-radius: 30px;
    height: 800px;
}

.all_triangles_container {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
  }

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
  }
  
  .triangle_tl {
    border-width: 0 0 200px 300px;
    border-color: transparent transparent transparent #71C9CE;
    left: 0;
    top: 0;
  }
  
  .triangle_tr {
    border-width: 0 300px 200px 0;
    border-color: transparent #71C9CE transparent transparent;
    right: 0;
    top: 0;
  }
  
  .triangle_br {
    border-width: 200px 300px 0 0;
    border-color: transparent #71C9CE transparent transparent;
    right: 0;
    bottom: 0;
  }

  .triangle_bl {
    border-width: 0 300px 200px 0px;
    border-color: transparent transparent #71C9CE transparent;
    left: 0;
    bottom: 0;
  }

.modelBackground{
    background-color: #71C9CE;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    width: 250px;
    height: 600px;
  
}

.modelBackgroundView{
    background-color: #71C9CE;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    width: 250px;
    height: 600px;
  
}

model-viewer {
    --progress-bar-color: transparent;
  }

.containerModel{
    margin-bottom: 6px;
    margin-top: 20px;
    height: 660px;
}

.containerWelcome{
    margin-top: 10px;
    font-size: 26px;
}

.containerIcon{
    background-color: #71C9CE;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    width: 50px;
    height: 50px;
}

.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 300px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 18px;
    border-radius: 20px;
    height: auto;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    word-wrap: break-word;
    color: black;
    transition: 0.9s;
    height: 220px;
    width: 300px;
  
  }

  .lastUpdateText{
    font-size: 12px;
  }

  .btnViewEdit{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
  }

  .btnViewDelete{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .containerBtnView{
    margin-bottom: 20px;
  }

.panel-text{
    background-color: #71c9ce96;
    border-style: dashed;
    border-color:white ;
    font-size: 13px;
    padding: 7px;
    border-radius: 20px;
    overflow-y: auto;
    height: 180px;
    width: 270px;
    margin-bottom: 10px;
}
  
table, table th, table td {
  border: 1px solid white;
  border-collapse: collapse;
  color: black;
}

.containerPlusIcon{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
}

table th{
    text-align: center;
    font-size: 18px;
    color: white;
    height:10px;
   
}

table td{
    text-align: left;
    font-size: 15px;
    height: 1px;
    max-width: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    margin-top: 100px;
    margin-bottom: 2px;

}

.containerTable{
  
    background-color: #71C9CE;
    width: 600px;
    height: 600px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: white;
    border-style: solid;
}

.containerTableOut{
    width: 100%;
    margin-top: 5px;
}

.containerAddBackground{
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
    
}

.containerTextAdd{
    color: #71C9CE;
    font-size: 10px;
    
}

.containerSearchBar{
    background-color: #71C9CE;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
}

.containerSearchIcon{
    margin-left: 4px;
    margin-right: 7px;
    margin-bottom: 6px;
}

.containerSearchText{
    width: auto;
    text-align: center;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.413);
}

.containerSearchBtn{
    background-color: #71C9CE;
    border-style: none;
}

.containerSearchTextInput{
    background-color: #71C9CE;
    border-style: none;
    text-align: center;
    border: none;
    outline: none;
}

::placeholder {
    color: white;
    opacity: 0.5; /* Firefox */
}

.containerAddBtn{
    border:none;
    border-radius: 10px;
    height: 40px;
    
}

.buttonActions{
    border:none;
    background-color: #71C9CE;
    margin-top: 1px;
    margin-bottom: 1px;
}

.containerBackground{
    background-color: #71C9CE;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    width: 250px;
    height: 600px;
}

.containerAddDiseaseText{
    font-size: 20px;
}

.containerAddInput{
    margin-left: 5px;
}

.containerInfoInput{
    margin-left: 5px;

}

.containerAddText{
    font-size: 18px;
}

.containerEditText{
    font-size: 18px
}


.containerChooseColorText{
    font-size: 18px;
    margin-left: 5px;
}

.InputAdd{
    width: 230px;
    height: 18px;
    font-size: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.containerEditDiseaseText{
    width: 185px;
    height: 15px;
    font-size: 8px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
}

.InputInfo{
    width: 230px;
    height: 90px;
    font-size: 13px;
    outline: none;
    border: none;
    margin: 0;
    border-radius: 5px;
}

.editInfoName{
    width: 230px;
    height: 18px;
    font-size: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
}

.editInfoName::placeholder{
    color: black;
    font-size: 13px;
    opacity: 1;
}

.editInfoDisease{
    width: 230px;
    height: 90px;
    font-size: 13px;
    outline: none;
    border: none;
    margin: 0;
    border-radius: 5px;
    color: black;
}

.editInfoDisease::placeholder{
    color: black;
    font-size: 13px;
    opacity: 1;
}

.InputInfo::placeholder{
    color: black;
    text-align: left;
    font-size: 13px;
   
}
.InputAdd::placeholder{
    color: black;
    font-size: 13px;
   
}

.ColorInputModel{
    width: 40px;
    height: 20px;
    outline: none;
    border: none;
    display: flex;
    justify-content: end;
}

.containerColorInputModel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

.containerChooseText{
    font-size: 18px;
    margin-left: 5px;
}

.boxColorInput{
    display: flex;
    justify-content: end;
}

.datalistColor{
    width: 200px;
    height: 200px;
}

.AddBtn{
    background-color: white;
}

.btnAddDisease{
    
    font-family: 'Libre';
    background-color: white;
    border-radius: 52px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    width: auto;
    height: auto;
    text-decoration: none;
    color:#71C9CE;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.containerAdd{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 510px;

}

.containerBackgroundColorInputModel{
    background-color: white;
    color: black;
    margin-left: 5px;
    display: flex;
    align-items: center;
    font-size: 10px;
    width: 230px;
    height: 25px;
    border-radius: 5px;

}

.containerColorInputModelName{
    margin-left: 5px;
    width: 50%;
    font-size: 13px;
    
}

.containerColorInputModelColor{
    width: 50%;
    margin-right: 5px;
}